body {
  margin: 0;
  background: black;
  overflow: hidden;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.screen {
  position: relative;
  width: min(100vw, 177.78vh);
  height: min(56.25vw, 100vh);
  overflow: hidden;
  background: black;
}

.bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.btn {
  position: absolute;
  cursor: pointer;
}

.hidden {
  display: none;
}

#startBtn {
  width: 30%;
  height: auto;
  top: 47%;
  left: 50%;
  transform: translateX(-50%);
}

#nextBtn {
  width: 12%;
  height: auto;
  right: 2%;
  bottom: 2%;
}

#hintBtn {
  width: 17%;
  height: auto;
  top: 52%;
  left: 52%;
  transform: translate(-50%, -50%);
}
#hintText {
  position: absolute;
  top: 40%;
  left: 52%;
  transform: translateX(-50%);
  color: white;
  font-size: clamp(14px, 1.4vw, 28px);
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 1em 1.2em;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  line-height: 1.5;
  max-width: 45%;
}

#finalCodeInput {
  position: absolute;
  top: 64%;
  left: 52%;
  transform: translateX(-50%);
  width: 22%;
  padding: 0.8em;
  font-size: 1.2vw;
  text-align: center;
  border: none;
  border-radius: 8px;
  font-family: "Courier New", Courier, monospace;
}

#submitCodeBtn {
  position: absolute;
  top: 74%;
  left: 52%;
  transform: translateX(-50%);
  padding: 0.8em 1.5em;
  font-size: 1vw;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
}

.result-image {
  position: absolute;
  top: 54%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: 49%;
  height: auto;
  z-index: 10;
}